<div class="order-content">
  <h2 class="user-info-header centered">Fill customer information</h2>

  <!-- customer information form -->
  <form class="user-info-form centered">
    <div class="form-group">
      <label for="fullName">Full name</label>
      <input [(ngModel)]="customer.name" type="text" class="form-control" id="fullName" name="fullname">
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input [(ngModel)]="customer.email"  type="email" class="form-control" id="exampleInputEmail1" name="email" aria-describedby="emailHelp">
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
      <label for="companyName">Your company</label>
      <input [(ngModel)]="customer.companyName" type="text" class="form-control" id="companyName" name="company">
    </div>
    <div class="form-group">
      <label for="street-name">Street</label>
      <input [(ngModel)]="customer.street" type="text" class="form-control" id="street-name" name="street">
    </div>
    <div class="form-group">
      <label for="city">City</label>
      <input [(ngModel)]="customer.city" type="text" class="form-control" id="city" name="city">
    </div>
    <div class="form-group">
      <label for="country">Country</label>
      <input [(ngModel)]="customer.country" type="text" class="form-control" id="country" name="country">
    </div>
    <div class="form-group">
      <label for="postalCode">Postal code</label>
      <input [(ngModel)]="customer.postalCode" type="text" class="form-control" id="postalCode" name="code">
    </div>

    <!-- footer buttons-->
    <div class="footer-buttons">
      <button class="btn btn-primary" (click)="returnToShoppingCart()">Return to Cart</button>
      <button class="btn btn-danger" (click)="makeOrder()" *ngIf="!isSending">Send order</button>
    </div>
  </form>
</div>
