<ul class="list-group">
  <li class="list-group-item d-flex justify-content-between align-items-center">
    One time price, {{currency}}
    <span class="badge badge-primary badge-pill">{{priceInfo.oneTimePrice}}</span>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    Recurring price, {{currency}}
    <span class="badge badge-primary badge-pill">{{priceInfo.recurringPrice}}</span>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    Recurring count (months)
    <span class="badge badge-primary badge-pill">{{priceInfo.recurringCount}}</span>
  </li>
</ul>

<!-- price calculator component-->
<div *ngIf="showPriceCalculator">
  <app-total-price-calculator
    [oneTimePrice]="priceInfo.oneTimePrice"
    [recurrentCount]="priceInfo.recurringCount"
    [recurrentPrice]="priceInfo.recurringPrice"
    [currency]="currency">
  </app-total-price-calculator>
</div>
