<ul class="list-group">
  <li class="list-group-item d-flex justify-content-between align-items-center">
    One time price, {{currency}}
    <span class="badge badge-primary badge-pill">{{priceInfo.oneTimePrice}}</span>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    Recurring price, {{currency}}
    <span class="badge badge-primary badge-pill">{{priceInfo.recurringPrice}}</span>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    Recurring count (months)
    <span class="badge badge-primary badge-pill">{{priceInfo.recurringCount}}</span>
  </li>
</ul>

<!-- price calculator component-->
<!--<div *ngIf="showPriceCalculator">-->
  <!--<app-total-price-calculator-->
    <!--(onTotalPriceCalculated)="onTotalPriceChanged($event)"-->
    <!--[oneTimePrice]="priceInfo.oneTimePrice"-->
    <!--[recurrentCount]="priceInfo.recurringCount"-->
    <!--[recurrentPrice]="priceInfo.recurringPrice"-->
    <!--[currency]="currency">-->
  <!--</app-total-price-calculator>-->
<!--</div>-->

<div *ngIf="showPriceCalculator">
  <ul class="list-group">
    <li class="list-group-item">
      <label>Quantity:</label>
      <select class="form-control quantity-select" title="quantity" [(ngModel)]="selectedQuantity"
              (ngModelChange) = "calculateTotalPrice()">
        <!-- it is possible to add options using iteration as well -->
        <option>1</option>
        <option>2</option>
        <option>3</option>
      </select>
    </li>
    <li class="list-group-item">Total price, {{currency}} :
      <span class="badge badge-secondary total-price">{{totalPrice}}</span>
    </li>
  </ul>
</div>
