<ul class="list-group">
  <li class="list-group-item">
    <label>Quantity:</label>
    <select class="form-control quantity-select" title="quantity" [(ngModel)]="selectedQuantity"
            (ngModelChange) = "calculateTotalPrice()">
      <!-- it is possible to add options using iteration as well -->
      <option>1</option>
      <option>2</option>
      <option>3</option>
    </select>
  </li>
  <li class="list-group-item">Total price, {{currency}} :
    <span class="badge badge-secondary total-price">{{totalPrice}}</span>
  </li>
</ul>
